.max-width,
.container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 8px;
    padding-left: 8px;
}

.row {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
    &.no-gutter {
        margin-right: 0px;
        margin-left: 0px;
        [class ^="col-"] {
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    &.has-gutter {
        margin-right: -8px;
        margin-left: -8px;
        [class ^="col-"] {
            padding-right: 8px;
            padding-left: 8px;
        }
    }
    &.has-small-gutter {
        margin-right: -4px;
        margin-left: -4px;
        [class ^="col-"] {
            padding-right: 4px;
            padding-left: 4px;
        }
    }
}

.row.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.col.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.col-default {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 8px;
    padding-left: 8px;
}

.col-xs {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
}

@include flexbox-full-width("xd");
@include flexbox-full-width("sm");
@include flexbox-full-width("md");
@include flexbox-full-width("lg");
@include flexbox-full-width("xlg");
@include extending-col-default("xs");
@include extending-col-default("xd");
@include extending-col-default("md");
@include extending-col-default("lg");
@include extending-col-default("xlg");
@include generate-flexbox("xs");
@include flexbox-alignment("xs");
@media only screen and (min-width: 480px) {
    .col-xd {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }
    @include generate-flexbox("xd");
}

@media only screen and (min-width: 768px) {
    .col-sm {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }
    @include generate-flexbox("sm");
}

@media only screen and (min-width: 992px) {
    .col-md {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }
    @include generate-flexbox("md");
}

@media only screen and (min-width: 1280px) {
    .col-lg {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }
    @include generate-flexbox("lg");
}

@media only screen and (min-width: 1440px) {
    .col-xlg {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        max-width: 100%;
    }
    @include generate-flexbox("xlg");
}

@media (min-width: 0) and (max-width: 479px) {
    .visible-xd,
    .visible-sm,
    .visible-md,
    .visible-lg,
    .visible-xlg {
        display: none;
    }
    .visible-xs {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-xd,
    .hidden-sm,
    .hidden-md,
    .hidden-lg,
    .hidden-xlg {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-xs {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .visible-xs,
    .visible-sm,
    .visible-md,
    .visible-lg,
    .visible-xlg {
        display: none;
    }
    .visible-xd {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-xs,
    .hidden-sm,
    .hidden-md,
    .hidden-lg,
    .hidden-xlg {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-xd {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-xs,
    .visible-xd,
    .visible-md,
    .visible-lg,
    .visible-xlg {
        display: none;
    }
    .visible-sm {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-xs,
    .hidden-xd,
    .hidden-md,
    .hidden-lg,
    .hidden-xlg {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-sm {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    .visible-xs,
    .visible-xd,
    .visible-sm,
    .visible-lg,
    .visible-xlg {
        display: none;
    }
    .visible-md {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-xs,
    .hidden-xd,
    .hidden-sm,
    .hidden-lg,
    .hidden-xlg {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-md {
        display: none;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    .visible-xs,
    .visible-xd,
    .visible-sm,
    .visible-md,
    .visible-xlg {
        display: none;
    }
    .visible-lg {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-xs,
    .hidden-xd,
    .hidden-sm,
    .hidden-md,
    .hidden-xlg {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-lg {
        display: none;
    }
}

@media (min-width: 1440px) {
    .visible-xs,
    .visible-xd,
    .visible-sm,
    .visible-md,
    .visible-lg {
        display: none;
    }
    .visible-xlg {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-xs,
    .hidden-xd,
    .hidden-sm,
    .hidden-md,
    .hidden-lg {
        display: block;
        &.row,
        &.flex {
            display: flex;
        }
        &.inline-block {
            display: inline-block;
        }
    }
    .hidden-xlg {
        display: none;
    }
}