$col-size: 24;
$easeInOutNew: cubic-bezier(.55, 0, .1, 1);
// old mixin
$standardCurve: cubic-bezier(0.4, 0.0, 0.2, 1);
$decelerationCurve: cubic-bezier(0.0, 0.0, 0.2, 1);
$accelerationCurve: cubic-bezier(0.4, 0.0, 1, 1);
$sharpCurve: cubic-bezier(0.4, 0.0, 0.6, 1);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
// Standard Shadows
$z1-shadow: 0 1px 3px rgba(#000, 0.12),
0 1px 2px rgba(#000, 0.24);
$z2-shadow: 0 3px 6px rgba(#000, 0.16),
0 3px 6px rgba(#000, 0.23);
$z3-shadow: 0 10px 20px rgba(#000, 0.19),
0 6px 6px rgba(#000, 0.23);
$z4-shadow: 0 14px 28px rgba(#000, 0.25),
0 10px 10px rgba(#000, 0.22);
$z5-shadow: 0 19px 38px rgba(#000, 0.30),
0 15px 12px rgba(#000, 0.22);
// Top shadows (for "bottom" positionned elements)
$top-z1-shadow: 0 -1px 3px rgba(#000, 0.12),
0 -1px 2px rgba(#000, 0.24);
$top-z2-shadow: 0 -3px 6px rgba(#000, 0.16),
0 -3px 6px rgba(#000, 0.23);
$top-z3-shadow: 0 -10px 20px rgba(#000, 0.19),
0 -6px 6px rgba(#000, 0.23);
$top-z4-shadow: 0 -14px 28px rgba(#000, 0.25),
0 -10px 10px rgba(#000, 0.22);
$top-z5-shadow: 0 -19px 38px rgba(#000, 0.30),
0 -15px 12px rgba(#000, 0.22);
// Shadows for full size "side" elements (using spread to make corners look right)
$side-z1-shadow: 0 0 3px 0.75px rgba(#000, 0.08),
0 0 2px 0.5px rgba(#000, 0.20);
$side-z2-shadow: 0 0 6px 1.5px rgba(#000, 0.12),
0 0 6px 1.5px rgba(#000, 0.19);
$side-z3-shadow: 0 0 20px 5px rgba(#000, 0.15),
0 0 6px 1.5px rgba(#000, 0.19);
$side-z4-shadow: 0 0 28px 7px rgba(#000, 0.21),
0 0 10px 2.5px rgba(#000, 0.18);
$side-z5-shadow: 0 0 38px 9.5px rgba(#000, 0.26),
0 0 12px 3px rgba(#000, 0.18);
// Raised button shadow (this in an approximation from  http://material-design.storage.googleapis.com/images/components-buttons-states-for-mocks-2a_large_mdpi.png)
$raised-button-normal-shadow: 1px 2px 3px rgba(#000, 0.17),
0 1px 4px rgba(#000, 0.16);
$raised-button-hover-shadow: 0 1px 3px rgba(#000, 0.13),
0 1px 4px rgba(#000, 0.16);
$raised-button-focused-shadow: 0 5px 6px rgba(#000, 0.15),
0 2px 5px rgba(#000, 0.16);
$raised-button-pressed-shadow: 0 6px 5px rgba(#000, 0.09),
0 7px 6px rgba(#000, 0.16);
@mixin extending-col-default($size) {
    .col-#{$size} {
        @extend .col-default;
    }
    @for $i from 0 to $col-size+1 {
        .col-#{$size}-fluid-#{$i} {
            @extend .col-default;
        }
    }
    @for $i from 0 to $col-size+1 {
        .col-#{$size}-#{$i} {
            @extend .col-default;
        }
    }
    @for $i from 0 to $col-size {
        .col-#{$size}-offset-#{$i} {
            @extend .col-default;
        }
    }
}

@mixin fluid-flexbox($number, $size: "xs") {
    .col-#{$size}-fluid-#{$number} {
        -webkit-flex-basis: $number/$col-size * 100%;
        -ms-flex-preferred-size: $number/$col-size * 100%;
        flex-basis: $number/$col-size * 100%;
        max-width: $number/$col-size * 100%;
        width: 100%;
    }
}

@mixin normal-flexbox($number, $size: "xs") {
    .col-#{$size}-#{$number} {
        -webkit-flex-basis: $number * 64px;
        -ms-flex-preferred-size: $number * 64px;
        flex-basis: $number * 64px;
        max-width: $number * 64px;
        width: 100%;
    }
}

@mixin col-offset($number, $size: "xs") {
    .col-#{$size}-offset-#{$number} {
        margin-left: $number/$col-size * 100%;
    }
}

@mixin flexbox-alignment($size) {
    .start-#{$size} {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: start;
    }
    .center-#{$size} {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .end-#{$size} {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        text-align: end;
    }
    .top-#{$size} {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .middle-#{$size} {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .bottom-#{$size} {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
    .around-#{$size} {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    .between-#{$size} {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .first-#{$size} {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
        -ms-flex-order: -1;
        order: -1;
    }
    .last-#{$size} {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }
}

@mixin flexbox-position($size, $type) {
    .position-#{$type}-#{$size} {
        position: #{$type};
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        &.left {
            top: 0;
            left: 0;
        }
        &.right {
            right: 0;
            bottom: 0;
        }
    }
}

@mixin flexbox-position-factory($size) {
    @include flexbox-position($size, "fixed");
    @include flexbox-position($size, "relative");
    @include flexbox-position($size, "absolute");
}

@mixin generate-flexbox($size) {
    @for $i from 0 to $col-size+1 {
        @include fluid-flexbox($i, $size);
    }
    @for $i from 0 to $col-size+1 {
        @include normal-flexbox($i, $size);
    }
    @for $i from 0 to $col-size {
        @include col-offset($i, $size);
    }
    @include flexbox-alignment($size);
    @include flexbox-position-factory($size);
}

@mixin flexbox-full-width($size) {
    .col-#{$size}-full-size {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
    @for $i from 0 to $col-size+1 {
        .col-#{$size}-fluid-#{$i} {
            @extend .col-#{$size}-full-size;
        }
    }
    @for $i from 0 to $col-size+1 {
        .col-#{$size}-#{$i} {
            @extend .col-#{$size}-full-size;
        }
    }
}

@mixin box-shadow($input: 0) {
    -webkit-box-shadow: $input;
    -moz-box-shadow: $input;
    box-shadow: $input;
}

@mixin font-size($sizeValue: 12) {
    font-size: $sizeValue + px;
    font-size: (0.125 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 12) {
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.125 * $heightValue) + rem;
}

@mixin animation($string) {
    -webkit-animation: $string;
    -moz-animation: $string;
    -ms-animation: $string;
    -o-animation: $string;
    animation: $string;
}

@mixin transform($string) {
    -webkit-transform: $string;
    -moz-transform: $string;
    -ms-transform: $string;
    -o-transform: $string;
    transform: $string;
}

@mixin filter-blur($string) {
    -webkit-filter: blur($string);
    -moz-filter: blur($string);
    -o-filter: blur($string);
    -ms-filter: blur($string);
    filter: blur($string);
}

@mixin transform-origin($string) {
    -webkit-transform-origin: $string;
    -moz-transform-origin: $string;
    -ms-transform-origin: $string;
    -o-transform-origin: $string;
    transform-origin: $string;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin breakpoint($point) {
    @if $point==sm {
        @media (min-width: 480px) {
            @content;
        }
    }
    @else if $point==xd {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $point==md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $point==lg {
        @media (min-width: 1280px) {
            @content;
        }
    }
    @else if $point==xlg {
        @media (min-width: 1440px) {
            @content;
        }
    }
}

@mixin webkit-fix() {
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @content;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}

// Single side border-radius
@mixin border-top-radius($radius) {
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}

@mixin border-right-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-top-right-radius: $radius;
    border-top-right-radius: $radius;
    background-clip: padding-box;
}

@mixin border-bottom-radius($radius) {
    -webkit-border-bottom-right-radius: $radius;
    border-bottom-right-radius: $radius;
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    background-clip: padding-box;
}

@mixin border-left-radius($radius) {
    -webkit-border-bottom-left-radius: $radius;
    border-bottom-left-radius: $radius;
    -webkit-border-top-left-radius: $radius;
    border-top-left-radius: $radius;
    background-clip: padding-box;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin scale($factor) {
    -webkit-transform: scale($factor);
    -moz-transform: scale($factor);
    -ms-transform: scale($factor);
    -o-transform: scale($factor);
    transform: scale($factor);
}

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin translateZ($z) {
    -webkit-transform: translateZ($z);
    -moz-transform: translateZ($z);
    -ms-transform: translateZ($z);
    -o-transform: translateZ($z);
    transform: translateZ($z);
}

@mixin transition($string: all 0.3s ease-out) {
    -webkit-transition: $string;
    -moz-transition: $string;
    -ms-transition: $string;
    -o-transition: $string;
    transition: $string;
}

@mixin box-sizing($string: border-box) {
    -webkit-box-sizing: $string;
    -moz-box-sizing: $string;
    -ms-box-sizing: $string;
    -o-box-sizing: $string;
    box-sizing: $string;
}

@mixin transition-delay($string: 0.3s) {
    -webkit-transition: $string;
    -moz-transition: $string;
    -ms-transition: $string;
    -o-transition: $string;
    transition: $string;
}

@mixin radius-fix() {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

@mixin typography-display4 {
    font-size: 112px;
    font-weight: 300;
    line-height: 112px;
}

@mixin typography-display3 {
    font-size: 46px;
    font-weight: normal;
    line-height: 62px;
    @include breakpoint("xd") {
        line-height: 72px;
        font-size: 56px;
    }
}

@mixin typography-display2 {
    font-size: 34px;
    font-weight: normal;
    line-height: 40px;
    @include breakpoint("xd") {
        line-height: 45px;
        font-size: 48px;
    }
}

@mixin typography-display1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    @include breakpoint("xd") {
        line-height: 34px;
        font-size: 40px;
    }
}

@mixin typography-headline {
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    @include breakpoint("xd") {
        font-size: 24px;
        line-height: 32px;
    }
}

@mixin typography-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

@mixin typography-subhead {
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
}

@mixin typography-body2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    @include breakpoint("xd") {
        font-size: 13px;
        line-height: 24px;
    }
}

@mixin typography-body {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    @include breakpoint("xd") {
        font-size: 13px;
        line-height: 24px;
    }
}

@mixin typography-caption {
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

@mixin typography-menu {
    font-size: 13px;
    font-weight: 400;
    line-height: 27.5px;
    @include breakpoint("xd") {
        font-size: 14px;
    }
}

@mixin typography-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

@mixin flex-grid($string: 1) {
    -webkit-flex-basis: $string/24*100%;
    -ms-flex-preferred-size: $string/24*100%;
    flex-basis: $string/24*100%;
    max-width: $string/24*100%;
}

@mixin flex-grid-offset($string: 1) {
    margin-left: $string/24*100%;
}

@mixin renderIssue() {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }
    @include optional-at-root(':-moz-placeholder') {
        @content;
    }
    @include optional-at-root('::-moz-placeholder') {
        @content;
    }
    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin displayFlex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($var) {
    -webkit-box-flex: $var;
    -moz-box-flex: $var;
    -webkit-flex: $var;
    -ms-flex: $var;
    flex: $var;
}

$colorCodeSet: $theme-primary,
$theme-accent,
$color-red,
$color-pink,
$color-purple,
$color-deep-purple,
$color-indigo,
$color-blue,
$color-light-blue,
$color-cyan,
$color-teal,
$color-green,
$color-light-green,
$color-lime,
$color-yellow,
$color-amber,
$color-orange,
$color-deep-orange,
$color-brown,
$color-blue-grey;
$colorNameSet: "primary",
"accent",
"red",
"pink",
"purple",
"deep-purple",
"indigo",
"blue",
"light-blue",
"cyan",
"teal",
"green",
"light-green",
"lime",
"yellow",
"amber",
"orange",
"deep-orange",
"brown",
"blue-grey";
@mixin createCheckbox($className, $colorName, $colorCode) {
    &.#{$colorName} {
        #{$className}-check {
            color: $colorCode;
        }
        input[type="checkbox"] {
            &:checked~#{$className}-ripple {
                background-color: rgba($colorCode, 0.2);
            }
        }
    }
}

@mixin createSwitches($className, $colorName, $colorCode) {
    &.#{$colorName} {
        input[type="checkbox"] {
            &:checked~#{$className}-track {
                background-color: rgba($colorCode, 0.5);
            }
            &:checked~#{$className}-thumb {
                background-color: $colorCode;
            }
            &:checked~#{$className}-ripple {
                background-color: rgba($colorCode, 0.2);
            }
        }
    }
}

@mixin createRadio($className, $colorName, $colorCode) {
    &.#{$colorName} {
        #{$className}-check {
            color: $colorCode;
        }
        input[type="radio"] {
            &:checked~#{$className}-ripple {
                background-color: rgba($colorCode, 0.2);
            }
        }
    }
}

@mixin generateCreateCheckbox($className) {
    @for $i from 1 to length($colorNameSet) {
        @include createCheckbox($className, nth($colorNameSet, $i), nth($colorCodeSet, $i));
    }
}

@mixin generateCreateSwitches($className) {
    @for $i from 1 to length($colorNameSet) {
        @include createSwitches($className, nth($colorNameSet, $i), nth($colorCodeSet, $i));
    }
}

@mixin generateCreateRadio($className) {
    @for $i from 1 to length($colorNameSet) {
        @include createRadio($className, nth($colorNameSet, $i), nth($colorCodeSet, $i));
    }
}