h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 16px;
}

h2 {
    line-height: 36px;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 16px;
}

h3 {
    line-height: 36px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

h4 {
    line-height: 30px;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 12px;
}

h5 {
    line-height: 24px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 12px;
}

h6 {
    line-height: 20px;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 12px;
}

p {
    margin: 0;
    margin-bottom: 20px;
}

pre,
code {
    color: #000;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 14px;
    /* 0.94 = 0.88 + (1.00 - 0.88) / 2 */
    background-color: $color-grey-200;
    span {
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        font-size: 14px;
    }
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0px;
    margin: 0;
    margin-bottom: 12px;
    code {
        border: 0px !important;
        // background: transparent !important;
        line-height: 1.3em;
        &::selection,
        *::selection {
            background: $color-blue;
            color: white;
        }
    }
    &,
    * {
        -webkit-touch-callout: initial;
        -webkit-user-select: initial;
        -khtml-user-select: initial;
        -moz-user-select: initial;
        -ms-user-select: initial;
        user-select: initial;
    }
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-bottom: 1px solid $color-grey-300;
    margin: 1em 0;
    padding: 0;
}

blockquote {
    color: #666666;
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
    background: $color-grey-100;
    padding-top: 24px;
    padding-bottom: 4px;
    border-left: 4px $color-grey-300 solid;
    margin-bottom: 16px;
    p {
        font-style: italic;
    }
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
    background: #fff;
    bottom: -0.25em;
}

ul,
ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
}

li p:last-child {
    margin: 0
}

dd {
    margin: 0 0 0 2em;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
}

a {
    color: $color-blue-700;
    text-decoration: none;
    outline: 0;
    &:visited {
        color: $color-blue-700;
    }
    &:hover {
        text-decoration: underline;
    }
}

.font-display1 {
    @include typography-display1;
    margin-bottom: 16px;
}

.font-display2 {
    @include typography-display2;
    margin-bottom: 16px;
}

.font-display3 {
    @include typography-display3;
    margin-bottom: 16px;
}

.font-display4 {
    @include typography-display4;
    margin-bottom: 16px;
}

.font-headline {
    @include typography-headline;
    margin-bottom: 16px;
}

.font-title {
    @include typography-title;
    margin-bottom: 16px;
}

.font-subhead {
    @include typography-subhead;
    margin-bottom: 16px;
}

.font-body {
    @include typography-body;
    margin-bottom: 16px;
}

.font-body2 {
    @include typography-body2;
    margin-bottom: 16px;
}

.font-caption {
    @include typography-caption;
    margin-bottom: 16px;
}

@include breakpoint("md") {
    .font-big-display1 {
        @include typography-display1;
        margin-bottom: 16px;
    }
    .font-big-display2 {
        @include typography-display2;
        margin-bottom: 16px;
    }
    .font-big-display3 {
        @include typography-display3;
        margin-bottom: 16px;
    }
    .font-big-display4 {
        @include typography-display4;
        margin-bottom: 16px;
    }
    .font-big-headline {
        @include typography-headline;
        margin-bottom: 16px;
    }
    .font-big-title {
        @include typography-title;
        margin-bottom: 16px;
    }
    .font-big-subhead {
        @include typography-subhead;
        margin-bottom: 16px;
    }
    .font-big-body {
        @include typography-body;
        margin-bottom: 16px;
    }
    .font-big-body2 {
        @include typography-body2;
        margin-bottom: 16px;
    }
    .font-big-caption {
        @include typography-caption;
        margin-bottom: 16px;
    }
}

.font-button {
    @include typography-button;
    margin-bottom: 16px;
}

.font-ultra-bold {
    font-weight: 900;
}

.font-bold {
    font-weight: 700;
}

.font-medium {
    font-weight: 500;
}

.font-normal {
    font-weight: 400;
}

.font-light {
    font-weight: 300;
}

.font-thin {
    font-weight: 100;
}

.font-ex1 {
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
}

.font-ex2 {
    font-size: 80px;
    line-height: 86px;
    font-weight: 100;
    small {
        font-size: 40px;
        line-height: 40px;
        font-weight: 300;
        vertical-align: top;
    }
}

.font-ex3 {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    font-style: italic;
}

.font-ex4 {
    font-size: 80px;
    line-height: 86px;
    font-weight: bold;
}

.font-ex5 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    line-height: 30px;
}

.font-ex6 {
    font-size: 86px;
    line-height: 92px;
    font-weight: 300;
    font-style: italic;
}

.font-ex7 {
    font-size: 22px;
    line-height: 24px;
    font-weight: 500;
    font-style: italic;
}

.font-ex8 {
    font-family: "Roboto Black", sans-serif;
    font-size: 90px;
    line-height: 98px;
}

.font-ex9 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 500;
}

.font-ex10 {
    font-size: 88px;
    line-height: 90px;
    font-weight: 100;
}

.font-ex11 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 42px;
    line-height: 48px;
    font-weight: 300;
}

.font-center {
    text-align: center;
}

.no-margin {
    margin: 0;
}