* {
    font-family: "Roboto", sans-serif;
    outline-color: transparent!important;
    // color: $dt-primary-text;
    -webkit-font-smoothing: subpixel-antialiased;
}

*:after,
*:before {
    z-index: -1;
}

*,
*:after,
*:before {
    -webkit-tap-highlight-color: transparent;
    @include box-sizing();
    position: relative;
    &:focus {
        outline: 0;
    }
}

html {
    height: 100%;
}

body,
html {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    @include transform(translateZ(0));
}

body {
    background-color: $color-grey-100;
    line-height: 24px;
}

.clearfix {
    @include clearfix();
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//.mdi {
//    width: 24px;
//    height: 24px;
//    float: left;
//}
//.scroll-bar {
//    overflow-x: auto;
//}
img.img-responsive {
    width: 100%;
    max-width: 100%;
}

img.img-responsive-vertical {
    max-height: 100%;
    height: 100%;
}

img.img-circle {
    @include border-radius(50%);
}

form {
    margin: 0;
}

//.action-container {
//    width: 100%;
//    position: fixed;
//    background: $theme-primary;
//    height:100%;
//    bottom: 0;
//    left: 0;
//    visibility: hidden;
//    z-index: 899;
//}
.page-container {
    width: 100%;
    padding: 16px 20px;
    max-width: 1440px;
    margin: 0 auto;
    &.small-padding {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.no-margin {
    margin: 0 !important;
}

*,
*:after,
*:before,
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

div,
section {
    position: relative;
}

.mdi {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}

.middle-top,
.middle-vertical {
    top: 50%;
    @include transform(translateY(-50%));
    position: absolute;
}

.middle-horizontal {
    left: 50%;
    @include transform(translateX(-50%));
    position: absolute;
}

.middle-center {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -51%));
    position: absolute;
}

//.feel-height {
//    display: -webkit-box;
//    display: -webkit-flex;
//    display: -moz-box;
//    display: -ms-flexbox;
//    display: flex;
//    -webkit-box-orient: vertical;
//    -webkit-box-direction: normal;
//    -webkit-flex-direction: column;
//    -moz-box-orient: vertical;
//    -moz-box-direction: normal;
//    -ms-flex-direction: column;
//    flex-direction: column;
//
//    & .feel-height-child {
//        -webkit-box-flex: 1;
//        -webkit-flex: 1;
//        -moz-box-flex: 1;
//        -ms-flex: 1;
//        flex: 1;
//        display: -webkit-box;
//        display: -webkit-flex;
//        display: -moz-box;
//        display: -ms-flexbox;
//        display: flex;
//    }
//}