.color-primary {
	color: $theme-primary !important;
}

.color-primary-50 {
	color: $theme-primary-50 !important;
}

.color-primary-100 {
	color: theme-primary-100 !important;
}

.color-primary-200 {
	color: $theme-primary-200 !important;
}

.color-primary-300 {
	color: $theme-primary-300 !important;
}

.color-primary-400 {
	color: $theme-primary-400 !important;
}

.color-primary-500 {
	color: $theme-primary-500 !important;
}

.color-primary-600{
	color: $theme-primary-600 !important;
}

.color-primary-700{
	color: $theme-primary-700 !important;
}

.color-primary-800{
	color: $theme-primary-800 !important;
}

.color-primary-900{
	color: $theme-primary-900 !important;
}

.color-accent {
	color: $theme-accent !important;
}

.color-accent-50 {
	color: $theme-accent-50 !important;
}

.color-accent-100 {
	color: $theme-accent-100 !important;
}

.color-accent-200 {
	color: $theme-accent-200 !important;
}

.color-accent-300 {
	color: $theme-accent-300 !important;
}

.color-accent-400 {
	color: $theme-accent-400 !important;
}

.color-accent-500 {
	color: $theme-accent-500 !important;
}

.color-accent-600{
	color: $theme-accent-600 !important;
}

.color-accent-700{
	color: $theme-accent-700 !important;
}

.color-accent-800{
	color: $theme-accent-800 !important;
}

.color-accent-900{
	color: $theme-accent-900 !important;
}

.color-red {
	color: $color-red !important;
}

.color-red-50 {
	color: $color-red-50 !important;
}

.color-red-100 {
	color: $color-red-100 !important;
}

.color-red-200 {
	color: $color-red-200 !important;
}

.color-red-300 {
	color: $color-red-300 !important;
}

.color-red-400 {
	color: $color-red-400 !important;
}

.color-red-500 {
	color: $color-red-500 !important;
}

.color-red-600{
	color: $color-red-600 !important;
}

.color-red-700{
	color: $color-red-700 !important;
}

.color-red-800{
	color: $color-red-800 !important;
}

.color-red-900{
	color: $color-red-900 !important;
}

.color-red-A100{
	color: $color-red-A100 !important;
}

.color-red-A200{
	color: $color-red-A200 !important;
}

.color-red-A400{
	color: $color-red-A400 !important;
}

.color-red-A700{
	color: $color-red-A700 !important;
}

.color-pink {
	color: $color-pink !important;
}

.color-pink-50 {
	color: $color-pink-50 !important;
}

.color-pink-100 {
	color: $color-pink-100 !important;
}

.color-pink-200 {
	color: $color-pink-200 !important;
}

.color-pink-300 {
	color: $color-pink-300 !important;
}

.color-pink-400 {
	color: $color-pink-400 !important;
}

.color-pink-500 {
	color: $color-pink-500 !important;
}

.color-pink-600{
	color: $color-pink-600 !important;
}

.color-pink-700{
	color: $color-pink-700 !important;
}

.color-pink-800{
	color: $color-pink-800 !important;
}

.color-pink-900{
	color: $color-pink-900 !important;
}

.color-pink-A100{
	color: $color-pink-A100 !important;
}

.color-pink-A200{
	color: $color-pink-A200 !important;
}

.color-pink-A400{
	color: $color-pink-A400 !important;
}

.color-pink-A700{
	color: $color-pink-A700 !important;
}

.color-purple {
	color: $color-purple !important;
}

.color-purple-50 {
	color: $color-purple-50 !important;
}

.color-purple-100 {
	color: $color-purple-100 !important;
}

.color-purple-200 {
	color: $color-purple-200 !important;
}

.color-purple-300 {
	color: $color-purple-300 !important;
}

.color-purple-400 {
	color: $color-purple-400 !important;
}

.color-purple-500 {
	color: $color-purple-500 !important;
}

.color-purple-600{
	color: $color-purple-600 !important;
}

.color-purple-700{
	color: $color-purple-700 !important;
}

.color-purple-800{
	color: $color-purple-800 !important;
}

.color-purple-900{
	color: $color-purple-900 !important;
}

.color-purple-A100{
	color: $color-purple-A100 !important;
}

.color-purple-A200{
	color: $color-purple-A200 !important;
}

.color-purple-A400{
	color: $color-purple-A400 !important;
}

.color-purple-A700{
	color: $color-purple-A700 !important;
}

.color-deep-purple {
	color: $color-deep-purple !important;
}

.color-deep-purple-50 {
	color: $color-deep-purple-50 !important;
}

.color-deep-purple-100 {
	color: $color-deep-purple-100 !important;
}

.color-deep-purple-200 {
	color: $color-deep-purple-200 !important;
}

.color-deep-purple-300 {
	color: $color-deep-purple-300 !important;
}

.color-deep-purple-400 {
	color: $color-deep-purple-400 !important;
}

.color-deep-purple-500 {
	color: $color-deep-purple-500 !important;
}

.color-deep-purple-600{
	color: $color-deep-purple-600 !important;
}

.color-deep-purple-700{
	color: $color-deep-purple-700 !important;
}

.color-deep-purple-800{
	color: $color-deep-purple-800 !important;
}

.color-deep-purple-900{
	color: $color-deep-purple-900 !important;
}

.color-deep-purple-A100{
	color: $color-deep-purple-A100 !important;
}

.color-deep-purple-A200{
	color: $color-deep-purple-A200 !important;
}

.color-deep-purple-A400{
	color: $color-deep-purple-A400 !important;
}

.color-deep-purple-A700{
	color: $color-deep-purple-A700 !important;
}

.color-indigo {
	color: $color-indigo !important;
}

.color-indigo-50 {
	color: $color-indigo-50 !important;
}

.color-indigo-100 {
	color: $color-indigo-100 !important;
}

.color-indigo-200 {
	color: $color-indigo-200 !important;
}

.color-indigo-300 {
	color: $color-indigo-300 !important;
}

.color-indigo-400 {
	color: $color-indigo-400 !important;
}

.color-indigo-500 {
	color: $color-indigo-500 !important;
}

.color-indigo-600{
	color: $color-indigo-600 !important;
}

.color-indigo-700{
	color: $color-indigo-700 !important;
}

.color-indigo-800{
	color: $color-indigo-800 !important;
}

.color-indigo-900{
	color: $color-indigo-900 !important;
}

.color-indigo-A100{
	color: $color-indigo-A100 !important;
}

.color-indigo-A200{
	color: $color-indigo-A200 !important;
}

.color-indigo-A400{
	color: $color-indigo-A400 !important;
}

.color-indigo-A700{
	color: $color-indigo-A700 !important;
}

.color-blue {
	color: $color-blue !important;
}

.color-blue-50 {
	color: $color-blue-50 !important;
}

.color-blue-100 {
	color: $color-blue-100 !important;
}

.color-blue-200 {
	color: $color-blue-200 !important;
}

.color-blue-300 {
	color: $color-blue-300 !important;
}

.color-blue-400 {
	color: $color-blue-400 !important;
}

.color-blue-500 {
	color: $color-blue-500 !important;
}

.color-blue-600{
	color: $color-blue-600 !important;
}

.color-blue-700{
	color: $color-blue-700 !important;
}

.color-blue-800{
	color: $color-blue-800 !important;
}

.color-blue-900{
	color: $color-blue-900 !important;
}

.color-blue-A100{
	color: $color-blue-A100 !important;
}

.color-blue-A200{
	color: $color-blue-A200 !important;
}

.color-blue-A400{
	color: $color-blue-A400 !important;
}

.color-blue-A700{
	color: $color-blue-A700 !important;
}

.color-light-blue {
	color: $color-light-blue !important;
}

.color-light-blue-50 {
	color: $color-light-blue-50 !important;
}

.color-light-blue-100 {
	color: $color-light-blue-100 !important;
}

.color-light-blue-200 {
	color: $color-light-blue-200 !important;
}

.color-light-blue-300 {
	color: $color-light-blue-300 !important;
}

.color-light-blue-400 {
	color: $color-light-blue-400 !important;
}

.color-light-blue-500 {
	color: $color-light-blue-500 !important;
}

.color-light-blue-600{
	color: $color-light-blue-600 !important;
}

.color-light-blue-700{
	color: $color-light-blue-700 !important;
}

.color-light-blue-800{
	color: $color-light-blue-800 !important;
}

.color-light-blue-900{
	color: $color-light-blue-900 !important;
}

.color-light-blue-A100{
	color: $color-light-blue-A100 !important;
}

.color-light-blue-A200{
	color: $color-light-blue-A200 !important;
}

.color-light-blue-A400{
	color: $color-light-blue-A400 !important;
}

.color-light-blue-A700{
	color: $color-light-blue-A700 !important;
}

.color-cyan {
	color: $color-cyan !important;
}

.color-cyan-50 {
	color: $color-cyan-50 !important;
}

.color-cyan-100 {
	color: $color-cyan-100 !important;
}

.color-cyan-200 {
	color: $color-cyan-200 !important;
}

.color-cyan-300 {
	color: $color-cyan-300 !important;
}

.color-cyan-400 {
	color: $color-cyan-400 !important;
}

.color-cyan-500 {
	color: $color-cyan-500 !important;
}

.color-cyan-600{
	color: $color-cyan-600 !important;
}

.color-cyan-700{
	color: $color-cyan-700 !important;
}

.color-cyan-800{
	color: $color-cyan-800 !important;
}

.color-cyan-900{
	color: $color-cyan-900 !important;
}

.color-cyan-A100{
	color: $color-cyan-A100 !important;
}

.color-cyan-A200{
	color: $color-cyan-A200 !important;
}

.color-cyan-A400{
	color: $color-cyan-A400 !important;
}

.color-cyan-A700{
	color: $color-cyan-A700 !important;
}

.color-teal {
	color: $color-teal !important;
}

.color-teal-50 {
	color: $color-teal-50 !important;
}

.color-teal-100 {
	color: $color-teal-100 !important;
}

.color-teal-200 {
	color: $color-teal-200 !important;
}

.color-teal-300 {
	color: $color-teal-300 !important;
}

.color-teal-400 {
	color: $color-teal-400 !important;
}

.color-teal-500 {
	color: $color-teal-500 !important;
}

.color-teal-600{
	color: $color-teal-600 !important;
}

.color-teal-700{
	color: $color-teal-700 !important;
}

.color-teal-800{
	color: $color-teal-800 !important;
}

.color-teal-900{
	color: $color-teal-900 !important;
}

.color-teal-A100{
	color: $color-teal-A100 !important;
}

.color-teal-A200{
	color: $color-teal-A200 !important;
}

.color-teal-A400{
	color: $color-teal-A400 !important;
}

.color-teal-A700{
	color: $color-teal-A700 !important;
}

.color-green {
	color: $color-green !important;
}

.color-green-50 {
	color: $color-green-50 !important;
}

.color-green-100 {
	color: $color-green-100 !important;
}

.color-green-200 {
	color: $color-green-200 !important;
}

.color-green-300 {
	color: $color-green-300 !important;
}

.color-green-400 {
	color: $color-green-400 !important;
}

.color-green-500 {
	color: $color-green-500 !important;
}

.color-green-600{
	color: $color-green-600 !important;
}

.color-green-700{
	color: $color-green-700 !important;
}

.color-green-800{
	color: $color-green-800 !important;
}

.color-green-900{
	color: $color-green-900 !important;
}

.color-green-A100{
	color: $color-green-A100 !important;
}

.color-green-A200{
	color: $color-green-A200 !important;
}

.color-green-A400{
	color: $color-green-A400 !important;
}

.color-green-A700{
	color: $color-green-A700 !important;
}

.color-light-green {
	color: $color-light-green !important;
}

.color-light-green-50 {
	color: $color-light-green-50 !important;
}

.color-light-green-100 {
	color: $color-light-green-100 !important;
}

.color-light-green-200 {
	color: $color-light-green-200 !important;
}

.color-light-green-300 {
	color: $color-light-green-300 !important;
}

.color-light-green-400 {
	color: $color-light-green-400 !important;
}

.color-light-green-500 {
	color: $color-light-green-500 !important;
}

.color-light-green-600{
	color: $color-light-green-600 !important;
}

.color-light-green-700{
	color: $color-light-green-700 !important;
}

.color-light-green-800{
	color: $color-light-green-800 !important;
}

.color-light-green-900{
	color: $color-light-green-900 !important;
}

.color-light-green-A100{
	color: $color-light-green-A100 !important;
}

.color-light-green-A200{
	color: $color-light-green-A200 !important;
}

.color-light-green-A400{
	color: $color-light-green-A400 !important;
}

.color-light-green-A700{
	color: $color-light-green-A700 !important;
}

.color-lime {
	color: $color-lime !important;
}

.color-lime-50 {
	color: $color-lime-50 !important;
}

.color-lime-100 {
	color: $color-lime-100 !important;
}

.color-lime-200 {
	color: $color-lime-200 !important;
}

.color-lime-300 {
	color: $color-lime-300 !important;
}

.color-lime-400 {
	color: $color-lime-400 !important;
}

.color-lime-500 {
	color: $color-lime-500 !important;
}

.color-lime-600{
	color: $color-lime-600 !important;
}

.color-lime-700{
	color: $color-lime-700 !important;
}

.color-lime-800{
	color: $color-lime-800 !important;
}

.color-lime-900{
	color: $color-lime-900 !important;
}

.color-lime-A100{
	color: $color-lime-A100 !important;
}

.color-lime-A200{
	color: $color-lime-A200 !important;
}

.color-lime-A400{
	color: $color-lime-A400 !important;
}

.color-lime-A700{
	color: $color-lime-A700 !important;
}

.color-yellow {
	color: $color-yellow !important;
}

.color-yellow-50 {
	color: $color-yellow-50 !important;
}

.color-yellow-100 {
	color: $color-yellow-100 !important;
}

.color-yellow-200 {
	color: $color-yellow-200 !important;
}

.color-yellow-300 {
	color: $color-yellow-300 !important;
}

.color-yellow-400 {
	color: $color-yellow-400 !important;
}

.color-yellow-500 {
	color: $color-yellow-500 !important;
}

.color-yellow-600{
	color: $color-yellow-600 !important;
}

.color-yellow-700{
	color: $color-yellow-700 !important;
}

.color-yellow-800{
	color: $color-yellow-800 !important;
}

.color-yellow-900{
	color: $color-yellow-900 !important;
}

.color-yellow-A100{
	color: $color-yellow-A100 !important;
}

.color-yellow-A200{
	color: $color-yellow-A200 !important;
}

.color-yellow-A400{
	color: $color-yellow-A400 !important;
}

.color-yellow-A700{
	color: $color-yellow-A700 !important;
}

.color-amber {
	color: $color-amber !important;
}

.color-amber-50 {
	color: $color-amber-50 !important;
}

.color-amber-100 {
	color: $color-amber-100 !important;
}

.color-amber-200 {
	color: $color-amber-200 !important;
}

.color-amber-300 {
	color: $color-amber-300 !important;
}

.color-amber-400 {
	color: $color-amber-400 !important;
}

.color-amber-500 {
	color: $color-amber-500 !important;
}

.color-amber-600{
	color: $color-amber-600 !important;
}

.color-amber-700{
	color: $color-amber-700 !important;
}

.color-amber-800{
	color: $color-amber-800 !important;
}

.color-amber-900{
	color: $color-amber-900 !important;
}

.color-amber-A100{
	color: $color-amber-A100 !important;
}

.color-amber-A200{
	color: $color-amber-A200 !important;
}

.color-amber-A400{
	color: $color-amber-A400 !important;
}

.color-amber-A700{
	color: $color-amber-A700 !important;
}

.color-orange {
	color: $color-orange !important;
}

.color-orange-50 {
	color: $color-orange-50 !important;
}

.color-orange-100 {
	color: $color-orange-100 !important;
}

.color-orange-200 {
	color: $color-orange-200 !important;
}

.color-orange-300 {
	color: $color-orange-300 !important;
}

.color-orange-400 {
	color: $color-orange-400 !important;
}

.color-orange-500 {
	color: $color-orange-500 !important;
}

.color-orange-600{
	color: $color-orange-600 !important;
}

.color-orange-700{
	color: $color-orange-700 !important;
}

.color-orange-800{
	color: $color-orange-800 !important;
}

.color-orange-900{
	color: $color-orange-900 !important;
}

.color-orange-A100{
	color: $color-orange-A100 !important;
}

.color-orange-A200{
	color: $color-orange-A200 !important;
}

.color-orange-A400{
	color: $color-orange-A400 !important;
}

.color-orange-A700{
	color: $color-orange-A700 !important;
}

.color-deep-orange {
	color: $color-deep-orange !important;
}

.color-deep-orange-50 {
	color: $color-deep-orange-50 !important;
}

.color-deep-orange-100 {
	color: $color-deep-orange-100 !important;
}

.color-deep-orange-200 {
	color: $color-deep-orange-200 !important;
}

.color-deep-orange-300 {
	color: $color-deep-orange-300 !important;
}

.color-deep-orange-400 {
	color: $color-deep-orange-400 !important;
}

.color-deep-orange-500 {
	color: $color-deep-orange-500 !important;
}

.color-deep-orange-600{
	color: $color-deep-orange-600 !important;
}

.color-deep-orange-700{
	color: $color-deep-orange-700 !important;
}

.color-deep-orange-800{
	color: $color-deep-orange-800 !important;
}

.color-deep-orange-900{
	color: $color-deep-orange-900 !important;
}

.color-deep-orange-A100{
	color: $color-deep-orange-A100 !important;
}

.color-deep-orange-A200{
	color: $color-deep-orange-A200 !important;
}

.color-deep-orange-A400{
	color: $color-deep-orange-A400 !important;
}

.color-deep-orange-A700{
	color: $color-deep-orange-A700 !important;
}

.color-brown {
	color: $color-brown !important;
}

.color-brown-50 {
	color: $color-brown-50 !important;
}

.color-brown-100 {
	color: $color-brown-100 !important;
}

.color-brown-200 {
	color: $color-brown-200 !important;
}

.color-brown-300 {
	color: $color-brown-300 !important;
}

.color-brown-400 {
	color: $color-brown-400 !important;
}

.color-brown-500 {
	color: $color-brown-500 !important;
}

.color-brown-600{
	color: $color-brown-600 !important;
}

.color-brown-700{
	color: $color-brown-700 !important;
}

.color-brown-800{
	color: $color-brown-800 !important;
}

.color-brown-900{
	color: $color-brown-900 !important;
}

.color-blue-grey {
	color: $color-blue-grey !important;
}

.color-blue-grey-50 {
	color: $color-blue-grey-50 !important;
}

.color-blue-grey-100 {
	color: $color-blue-grey-100 !important;
}

.color-blue-grey-200 {
	color: $color-blue-grey-200 !important;
}

.color-blue-grey-300 {
	color: $color-blue-grey-300 !important;
}

.color-blue-grey-400 {
	color: $color-blue-grey-400 !important;
}

.color-blue-grey-500 {
	color: $color-blue-grey-500 !important;
}

.color-blue-grey-600{
	color: $color-blue-grey-600 !important;
}

.color-blue-grey-700{
	color: $color-blue-grey-700 !important;
}

.color-blue-grey-800{
	color: $color-blue-grey-800 !important;
}

.color-blue-grey-900{
	color: $color-blue-grey-900 !important;
}

.color-grey {
	color: $color-grey !important;
}

.color-grey-50 {
	color: $color-grey-50 !important;
}

.color-grey-100 {
	color: $color-grey-100 !important;
}

.color-grey-200 {
	color: $color-grey-200 !important;
}

.color-grey-300 {
	color: $color-grey-300 !important;
}

.color-grey-400 {
	color: $color-grey-400 !important;
}

.color-grey-500 {
	color: $color-grey-500 !important;
}

.color-grey-600{
	color: $color-grey-600 !important;
}

.color-grey-700{
	color: $color-grey-700 !important;
}

.color-grey-800{
	color: $color-grey-800 !important;
}

.color-grey-900{
	color: $color-grey-900 !important;
}

.color-black {
	color: $color-black !important;
}

.color-white {
	color: $color-white !important;
}
