$palette-royalblue: rgb(251, 252, 254) rgb(188, 203, 241) rgb(142, 167, 231) rgb(83, 121, 218) rgb(57, 101, 213) rgb(42, 86, 198) rgb(37, 75, 173) rgb(31, 64, 147) rgb(26, 53, 122) rgb(21, 42, 97) rgb(251, 252, 254) rgb(188, 203, 241) rgb(57, 101, 213) rgb(31, 64, 147);
$palette-royalblue-50: nth($palette-royalblue, 1);
$palette-royalblue-100: nth($palette-royalblue, 2);
$palette-royalblue-200: nth($palette-royalblue, 3);
$palette-royalblue-300: nth($palette-royalblue, 4);
$palette-royalblue-400: nth($palette-royalblue, 5);
$palette-royalblue-500: nth($palette-royalblue, 6);
$palette-royalblue-600: nth($palette-royalblue, 7);
$palette-royalblue-700: nth($palette-royalblue, 8);
$palette-royalblue-800: nth($palette-royalblue, 9);
$palette-royalblue-900: nth($palette-royalblue, 10);
$palette-royalblue-A100: nth($palette-royalblue, 11);
$palette-royalblue-A200: nth($palette-royalblue, 12);
$palette-royalblue-A400: nth($palette-royalblue, 13);
$palette-royalblue-A700: nth($palette-royalblue, 14);
// $palette-dark-blue:
// rgb(196, 227, 242)
// rgb(133, 197, 228)
// rgb(87, 175, 218)
// rgb(42, 142, 192)
// rgb(36, 124, 167)
// rgb(31, 105, 142)
// rgb(26, 86, 117)
// rgb(20, 68, 92)
// rgb(15, 49, 67)
// rgb(9, 31, 42)
// rgb(196, 227, 242)
// rgb(133, 197, 228)
// rgb(36, 124, 167)
// rgb(20, 68, 92);
// $palette-blue:
// rgb(255, 255, 255)
// rgb(214, 233, 255)
// rgb(158, 202, 254)
// rgb(88, 164, 254)
// rgb(57, 147, 253)
// rgb(27, 131, 253)
// rgb(2, 115, 247)
// rgb(2, 101, 217)
// rgb(2, 87, 187)
// rgb(1, 73, 156)
// rgb(255, 255, 255)
// rgb(214, 233, 255)
// rgb(57, 147, 253)
// rgb(2, 101, 217)
// ;
// $palette-blue-50: nth($palette-blue, 1);
// $palette-blue-100: nth($palette-blue, 2);
// $palette-blue-200: nth($palette-blue, 3);
// $palette-blue-300: nth($palette-blue, 4);
// $palette-blue-400: nth($palette-blue, 5);
// $palette-blue-500: nth($palette-blue, 6);
// $palette-blue-600: nth($palette-blue, 7);
// $palette-blue-700: nth($palette-blue, 8);
// $palette-blue-800: nth($palette-blue, 9);
// $palette-blue-900: nth($palette-blue, 10);
// $palette-blue-A100: nth($palette-blue, 11);
// $palette-blue-A200: nth($palette-blue, 12);
// $palette-blue-A400: nth($palette-blue, 13);
// $palette-blue-A700: nth($palette-blue, 14);
$theme-color: $palette-royalblue-500;
$theme-primary: $palette-royalblue-500;
$theme-primary-50: $palette-royalblue-50;
$theme-primary-100: $palette-royalblue-100;
$theme-primary-200: $palette-royalblue-200;
$theme-primary-300: $palette-royalblue-300;
$theme-primary-400: $palette-royalblue-400;
$theme-primary-500: $palette-royalblue-500;
$theme-primary-600: $palette-royalblue-600;
$theme-primary-700: $palette-royalblue-700;
$theme-primary-800: $palette-royalblue-800;
$theme-primary-900: $palette-royalblue-900;
$theme-primary-light: $theme-primary-100;
$theme-primary-dark: $theme-primary-700;
$theme-text-color: $color-white;
$theme-text-primary: $color-white;
$theme-text-accent: $color-white;
$theme-accent: $color-pink;
$theme-accent-50: $color-pink-50;
$theme-accent-100: $color-pink-100;
$theme-accent-200: $color-pink-200;
$theme-accent-300: $color-pink-300;
$theme-accent-400: $color-pink-400;
$theme-accent-500: $color-pink-500;
$theme-accent-600: $color-pink-600;
$theme-accent-700: $color-pink-700;
$theme-accent-800: $color-pink-800;
$theme-accent-900: $color-pink-900;
$theme-accent-light: $color-pink-100;
$theme-accent-dark: $color-pink-700;