.viu-app-bar {
    border: 0;
    width: 100%;
    z-index: 800;
    position: relative;
    @include transform(translateZ(0));
    overflow-x: hidden;
    color: $theme-text-primary;
    top: 0;
    left: 0;
    &.fixed {
        position: fixed;
        z-index: 1000;
    }
    .contain {
        height: 56px;
        @include transform(translateZ(0));
        width: 100%;
        display: flex;
        padding-left: 4px;
        padding-right: 4px;
        @include breakpoint("xd") {
            height: 64px;
        }
        .center {
            height: 100%;
            flex-grow: 1;
            position: initial;
        }
    }
    .title {
        @include typography-title;
        font-size: 18px;
        font-weight: 400;
        line-height: 56px;
        color: inherit;
        display: inline-block;
        width: auto;
        float: left;
        margin-left: 16px;
        @include transition(opacity 0.2s $sharpCurve);
        @include breakpoint("xd") {
            line-height: 64px;
        }
    }
    .viu-icon-button {
        width: 48px;
        height: 48px;
        margin-top: 4px;
        @include breakpoint("xd") {
            .mdi {
                width: 56px;
                height: 56px;
                line-height: 56px;
            }
        }
    }
    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
    }
}

.appbar-padding {
    padding-top: 56px;
    @include breakpoint("xd") {
        padding-top: 64px;
    }
}