button.raised-button,
a.raised-button {
    background: $color-grey-100;
    color: $color-grey-900;
    @include box-shadow($z1-shadow);
    &.hover,
    &:focus {
        background: $color-grey-200;
        @include box-shadow($z2-shadow);
        &:active {
            @include box-shadow($z3-shadow);
        }
    }
    &.primary {
        color: $theme-text-primary;
        background: $theme-primary-500;
        &.hover {
            background: $theme-primary-600;
        }
    }
    &.accent {
        color: $theme-text-accent;
        background: $theme-accent-500;
        &.hover {
            background: $theme-accent-600;
        }
    }
    &.white {
        color: $color-grey-900;
        background: $color-white;
        &.hover {
            background: $color-grey-100;
        }
    }
    &:disabled,
    &.disabled,
    &.disabled:focus,
    &.disabled.hover {
        background: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.3);
        @include box-shadow(none);
        pointer-events: none;
    }
}

button.flat-button,
a.flat-button {
    background: transparent;
    color: $color-grey-900;
    &.hover,
    &:focus {
        background: rgba(0, 0, 0, 0.1);
    }
    &.primary {
        color: $theme-primary;
    }
    &.accent,
    &.error {
        color: $theme-accent;
    }
    &.success {
        color: $color-green;
    }
    &.white {
        color: $color-white;
    }
    &:disabled,
    &.disabled,
    &.disabled:focus,
    &.disabled.hover {
        color: $color-grey-500;
        background: transparent;
        @include box-shadow(none);
        pointer-events: none;
    }
}

button.color-button,
a.color-button {
    background: $color-grey-900;
    color: $color-white;
    &.primary {
        background: $theme-primary;
    }
    &.accent {
        background: $theme-accent;
    }
    &.white {
        background: $color-white;
        color: $color-grey-900;
    }
    &.hover,
    &:focus {
        background: $color-grey-800;
        &.primary {
            background: $theme-primary-600;
        }
        &.accent {
            background: $theme-accent-600;
        }
        &.white {
            background: $color-grey-50;
            color: $color-grey-900;
        }
    }
    &:disabled,
    &.disabled,
    &.disabled:focus,
    &.disabled.hover {
        color: $color-grey-200;
        background: $color-grey-600;
        @include box-shadow(none);
        pointer-events: none;
        &.primary {
            background: $theme-primary-300;
        }
        &.accent {
            background: $theme-accent-300;
        }
        &.white {
            background: $color-grey-100;
            color: $color-grey-400;
        }
    }
}

button.raised-button,
a.raised-button,
button.flat-button,
a.flat-button,
button.color-button,
a.color-button {
    @include typography-button;
    min-width: 88px;
    vertical-align: middle;
    overflow-y: hidden;
    height: 36px;
    line-height: 24px;
    padding: 6px 12px;
    border: 0;
    margin: 6px 2px;
    cursor: pointer;
    display: block;
    @include border-radius(2px);
    @include transition(all 600ms $easeOutExpo);
    float: left;
    position: relative;
    text-decoration: none !important;
    text-align: center;
    @include transform(translateZ(0));
    &.button-block {
        width: 100%;
        max-width: 100%;
    }
    &.center {
        margin-right: auto;
        margin-left: auto;
        float: none;
        display: table;
    }
    @include webkit-fix {
        line-height: 29px;
        padding-top: 5px;
        padding-bottom: 2px;
    }
    .mdi {
        float: left;
        margin-right: 4px;
        opacity: 0.8;
        &:before {
            font-size: 22px;
        }
    }
    &.inverse {
        color: $color-grey-900;
    }
}

.button-center-container {
    display: table;
    margin-left: auto;
    margin-right: auto;
}