.peper-select {
    padding-top: 28px;
    padding-bottom: 8px;
    height: 72px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    @include transform(translateZ(0));
    @include renderIssue();
    .peper-select-text {
        padding: 8px 0px;
        padding-bottom: 7px;
        padding-right: 28px;
        line-height: 18px;
        font-size: 16px;
        border-bottom: 1px solid $color-grey-300;
        width: 100%;
        cursor: pointer;
        .mdi {
            position: absolute;
            right: 0;
            top: 4px;
            color: $color-grey-600;
        }
    }
    .peper-select-label {
        position: absolute;
        top: 12px;
        left: 0;
        font-size: 12px;
        color: $color-grey-500;
    }
    .popup-menu {
        @include clearfix();
        position: fixed;
        top: 0;
        left: 0;
        padding: 8px 0;
        margin-left: -16px;
        margin-right: -16px;
        width: calc(100% + 32px);
        background-color: $color-white;
        @include border-radius(2px);
        @include box-shadow($z1-shadow);
        @include transform(scaleY(0));
        z-index: -1;
        @include transform-origin((0 48px));
        @include transition((all 0.2s $accelerationCurve, opacity 0.15s $decelerationCurve));
        opacity: 0;
        overflow-y: auto;
        max-height: 200px;
        .popup-menu-item {
            height: 48px;
            width: 100%;
            padding: 14px 16px;
            cursor: pointer;
            line-height: 20px;
            font-size: 16px;
            @include transition(all 0.2s $sharpCurve);
            &:hover {
                background-color: rgba($color-black, 0.05);
            }
            &.active {
                color: $theme-color;
                &:hover {
                    background-color: rgba($theme-color, 0.1);
                }
            }
        }
    }
    select {
        opacity: 0;
        z-index: -1;
        position: absolute;
        width: 0;
        top: 0;
        left: 0;
        &.focus {
            &~.popup-menu {
                display: block;
                @include transform(scaleY(1));
                @include transition((all 0.1s $sharpCurve, opacity 0.2s $decelerationCurve));
                opacity: 1;
                z-index: 330;
            }
        }
    }
}