@mixin notDense() {
    .viu-list-item {
        font-size: 16px;
        line-height: 32px;
        padding: 6px 16px;
        .peper-avatar {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-right: 16px;
        }
        .right-content {
            padding: 2px 0;
        }
        .content {
            line-height: 20px;
            padding: 12px 0;
        }
        .left-content {
            padding: 2px 0;
        }
        .list-caption {
            font-size: 14px;
            line-height: 16px;
            color: $color-grey-600;
        }
    }
}

.viu-list {
    padding-top: 4px;
    .viu-list-item {
        width: 100%;
        line-height: 28px;
        padding: 4px 16px;
        font-size: 13px;
        cursor: default;
        @include transition(all 0.2s $sharpCurve);
        @include displayFlex();
        justify-content: center;
        align-items: center;
        .mdi {
            @include not(".viu-checkbox-uncheck", ".viu-checkbox-check", ".viu-radio-uncheck", ".viu-radio-check") {
                color: $color-grey-700;
                margin-right: 32px;
            }
        }
        .viu-checkbox, .viu-radio {
            margin-left: -12px;
            margin-top: -12px;
            margin-bottom: -12px;
            margin-right: 20px;
        }
        .peper-avatar {
            display: inline-block;
            vertical-align: middle;
            width: 36px;
            height: 36px;
            line-height: 36px;
            margin-right: 20px;
        }
        .right-content {
            @include displayFlex();
            padding: 2px 0;
            & .mdi  {
                @include not(".viu-checkbox-uncheck", ".viu-checkbox-check", ".viu-radio-uncheck", ".viu-radio-check") {
                    margin: 0;
                }
            }
        }
        .content {
            @include flex(1);
            @include displayFlex();
            line-height: 20px;
            padding: 8px 0;
        }
        .left-content {
            @include displayFlex();
            padding: 2px 0;
        }
        .list-caption {
            display: block;
            width: 100%;
            font-size: 13px;
            line-height: 16px;
            color: $color-grey-600;
        }
    }
    &.not-auto-dense {
        @include notDense();
    }
    @include breakpoint("xd") {
        padding-top: 8px;
        @include notDense();
    }
    &.hover {
        .viu-list-item:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}