.load-img {
    @include renderIssue();
    @include transform(translateZ(0));
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
        @include renderIssue();
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transition: opacity 1s linear;
        @include transform(translateZ(0));
        will-change: transform;
    }

    img.loaded {
        opacity: 1;
    }

    .img-small {
        opacity: 0;
        @include renderIssue();
        @include transform(scale(1) translateZ(0));
    }
}
