.viu-menu-content {
    padding: 8px 0;
    position: absolute;
    width: 200px;
    z-index: 1001;
    height: auto;
    overflow: hidden;
    background: white;
    @include box-shadow($z1-shadow);
    @include border-radius(2px);
    visibility: hidden;
    @include transform(translateZ(0) scale(0, 0));
    @include transform-origin(0% 0%);
    @include renderIssue();
    opacity: 0;
    @include transition((all 0.2s $decelerationCurve, opacity 0.2s $standardCurve));
    &.show {
        @include transform(translateZ(0) scale(1, 1));
        visibility: visible;
        opacity: 1;
    }
    &>.simplebar {
        max-height: 288px;
    }
    &.left-top {
        @include transform-origin(0% 0%);
    }
    &.right-top {
        @include transform-origin(100% 0%);
    }
    &.left-bottom {
        @include transform-origin(0% 100%);
    }
    &.right-bottom {
        @include transform-origin(100% 100%);
    }
}

.viu-menu-item {
    height: 48px;
    width: 100%;
    padding: 8px 16px;
    @include typography-menu;
    line-height: 32px;
    cursor: pointer;
    @include transition(all 0.1s $accelerationCurve);
    color: $color-grey-800;
    vertical-align: middle;
    &:hover {
        background: rgba(#000, 0.05);
    }
    .mdi {
        float: left;
        vertical-align: middle;
        line-height: 27.5px;
        margin-right: 16px;
        color: $color-grey-600;
        font-size: 18px;
        width: 18px;
        height: 18px;
    }
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
        .mdi {}
    }
    &.active {
        color: $theme-primary;
        &:hover {
            background: rgba($theme-primary, 0.1);
        }
    }
}

.viu-menu-select {
    padding-top: 12px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 72px;
    cursor: pointer;
    select {
        width: 0;
        height: 0;
        z-index: -1;
        visibility: hidden;
    }
    .mdi {
        position: absolute;
        right: 0;
        top: 32px;
        color: $color-grey-600;
    }
    .viu-menu-select-description {
        z-index: 1;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 24px 0;
        padding-bottom: 7px;
        background: transparent;
        outline: none;
        font-size: 16px;
        line-height: 18px;
        border-bottom: 1px solid $color-grey-300;
        @include transform(translateZ(0));
    }
    .viu-floating-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px;
        color: $color-grey-500;
        @include transform-origin((0));
        @include transition(all 0.2s $decelerationCurve);
        @include transform(translateZ(0));
    }
}