.peper-menu {
    padding: 4px 0;
    background: $color-white;
    @include box-shadow($side-z2-shadow);
    @include border-radius(2px);
    min-width: 190px;
    max-width: 272px;
    max-height: 100vh;
    position: relative;
    z-index: 3000;
    &.showOnTrigger {
        visibility: hidden;
        position: fixed;
        @include transform(translateZ(0) scale(0, 0));
        @include renderIssue();
        opacity: 0;
        @include transition((all 0.2s $decelerationCurve, opacity 0.2s $standardCurve));
        @include transform-origin(0% 100%);
        &.show {
            @include transform(translateZ(0) scale(1, 1));
            visibility: visible;
            opacity: 1;
        }
        &.left.bottom {
            @include transform-origin(0% 0%);
        }
        &.left.top {
            @include transform-origin(0% 100%);
        }
        &.right.bottom {
            @include transform-origin(100% 0%);
        }
        &.right.top {
            @include transform-origin(100% 100%);
        }
    }
    &>.peper-menu-item {
        height: 40px;
        width: 100%;
        padding: 8px 16px;
        @include typography-menu;
        cursor: pointer;
        @include transition(all 0.1s $accelerationCurve);
        color: $color-grey-800;
        vertical-align: middle;
        &:hover {
            background: rgba(#000, 0.05);
        }
        &.divider {
            background: $color-grey-200;
            height: 1px;
            margin: 6px 0;
            padding: 0;
            pointer-events: none;
        }
        .mdi {
            float: left;
            vertical-align: middle;
            line-height: 27.5px;
            margin-right: 16px;
            color: $color-grey-600;
            font-size: 18px;
            width: 18px;
            height: 18px;
        }
        &.disabled {
            opacity: 0.5;
            pointer-events: none;
            .mdi {}
        }
    }
}