.reveal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    @include transform(translateZ(0));
    // @include renderIssue();
    @include transition(opacity 0.2s $accelerationCurve);
    .reveal-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color-black, 0.2);
        @include transform(translateZ(0));
        top: 0;
        left: 0;
    }
    &>*:not(.reveal-overlay) {
        @include transition(all 0.2s $decelerationCurve);
        @include transform(translateY(100px));
        max-width: calc(100% - 16px);
        max-height: calc(100% - 16px);
    }
    &.enable {
        opacity: 1;
        &>*:not(.reveal-overlay) {
            @include transform(translateY(0));
        }
    }
    &.front {
        z-index: 1001;
    }
}