.viu-side-navigation {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    position: fixed;
    @include transition(all 0.2s $sharpCurve);
    @include transform(translateX(-100%) translateZ(0));
    &~.viu-side-navigation-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.2;
        z-index: 3;
        visibility: hidden;
        @include transition(all 0.3s $decelerationCurve);
    }
    &.open~.viu-side-navigation-overlay {
        visibility: visible;
        opacity: 0.2;
    }
    &.fixed-on-lg {
        @include breakpoint("lg") {
            position: relative;
            @include transform(translateX(0) translateZ(0));
            &~.viu-side-navigation-overlay {
                opacity: 0.2;
                visibility: hidden;
            }
        }
    }
    &.open {
        @include transform(translateX(0) translateZ(0));
    }
    .nav-item {
        cursor: pointer;
        display: table;
        width: 100%;
        text-decoration: none;
        .nav-list {
            width: 100%;
            height: 48px;
            display: block;
            position: relative;
            padding: 8px 20px;
            @include typography-menu;
            line-height: 33px;
            text-decoration: none;
            color: $color-grey-600;
            z-index: 3;
            font-weight: 400;
            background: $color-white;
            .mdi {
                color: $color-grey-500;
                vertical-align: middle;
                margin-right: 24px;
            }
            .chevron {
                position: absolute;
                right: 12px;
                top: 12px;
                width: 24px;
                height: 24px;
                & svg {
                    fill: $color-grey;
                }
            }
        }
        .ripple-circle {
            z-index: 3;
        }
        .nav-sublist {
            position: relative;
            z-index: 1;
            display: table;
            width: 100%;
            height: 0;
            @include transform(translateZ(0));
            @include renderIssue();
            @include transform-origin(top);
            .nav-list {
                padding-left: 48px;
                font-weight: 400;
                .icon {
                    left: 36px;
                }
            }
        }
        .divider {
            height: 1px;
            margin-top: 15px;
            margin-bottom: 15px;
            background: $color-grey-200;
        }
    }
    .router-link-active {
        .nav-item {
            .nav-list {
                color: $theme-primary;
                .mdi {
                    color: $theme-primary;
                }
                & .chevron {
                    svg {
                        fill: $theme-primary;
                    }
                }
            }
            .ripple-circle {
                background: rgba($color-indigo, 0.2) !important;
            }
        }
    }
}