.peper-switches {
    height: 48px;
    width: 48px;
    margin-left: 7px;
    margin-right: 7px;
    cursor: pointer;
    display: inline-block;
    &-track {
        width: 34px;
        height: 14px;
        position: absolute;
        top: 17px;
        left: 0px;
        @include border-radius(7px);
        background: rgba($color-black, 0.38);
        @include transition(all 0.15s $decelerationCurve);
    }
    &-thumb {
        width: 20px;
        height: 20px;
        top: 14px;
        left: 0px;
        position: absolute;
        @include border-radius(50%);
        background: $color-grey-50;
        @include box-shadow($z1-shadow);
        @include transition(all 0.15s $decelerationCurve);
    }
    &-ripple {
        width: 40px;
        height: 40px;
        @include border-radius(50%);
        background: rgba($color-black, 0.1);
        top: 4px;
        left: -10px;
        position: absolute;
        @include transition(all 0.15s $decelerationCurve);
        opacity: 0;
        &.active {
            opacity: 1;
        }
    }
    input[type="checkbox"] {
        display: none;
        &:checked~.peper-switches-track {
            background-color: rgba($theme-primary, 0.5);
        }
        &:checked~.peper-switches-thumb {
            @include transform(translateX(14px) translateZ(0));
            background-color: $theme-primary;
        }
        &:checked~.peper-switches-ripple {
            @include transform(translateX(14px) translateZ(0));
            background-color: rgba($theme-primary, 0.2);
        }
    }
    &.accent {
        input[type="checkbox"] {
            &:checked~.peper-switches-track {
                background-color: rgba($theme-accent, 0.5);
            }
            &:checked~.peper-switches-thumb {
                background-color: $theme-accent;
            }
            &:checked~.peper-switches-ripple {
                background-color: rgba($theme-accent, 0.2);
            }
        }
    }
    &.green {
        input[type="checkbox"] {
            &:checked~.peper-switches-track {
                background-color: rgba($color-green, 0.5);
            }
            &:checked~.peper-switches-thumb {
                background-color: $color-green;
            }
            &:checked~.peper-switches-ripple {
                background-color: rgba($color-green, 0.2);
            }
        }
    }
    &.yellow {
        input[type="checkbox"] {
            &:checked~.peper-switches-track {
                background-color: rgba($color-amber, 0.5);
            }
            &:checked~.peper-switches-thumb {
                background-color: $color-amber;
            }
            &:checked~.peper-switches-ripple {
                background-color: rgba($color-amber, 0.2);
            }
        }
    }
    &.red {
        input[type="checkbox"] {
            &:checked~.peper-switches-track {
                background-color: rgba($color-red, 0.5);
            }
            &:checked~.peper-switches-thumb {
                background-color: $color-red;
            }
            &:checked~.peper-switches-ripple {
                background-color: rgba($color-red, 0.2);
            }
        }
    }
    &.blue {
        input[type="checkbox"] {
            &:checked~.peper-switches-track {
                background-color: rgba($color-blue, 0.5);
            }
            &:checked~.peper-switches-thumb {
                background-color: $color-blue;
            }
            &:checked~.peper-switches-ripple {
                background-color: rgba($color-blue, 0.2);
            }
        }
    }
    input[type="checkbox"]:disabled,
    input[type="checkbox"]:checked:disabled {
        pointer-events: none;
        &~.peper-switches-track {
            background-color: rgba($color-black, 0.12);
        }
        &~.peper-switches-thumb {
            background-color: rgba($color-grey-400, 1);
        }
    }
}